/**
 * 下方引入的为uView UI的集成样式文件，为scss预处理器，其中包含了一些"u-"开头的自定义变量
 * uView自定义的css类名和scss变量，均以"u-"开头，不会造成冲突，请放心使用 
 */
@import 'uview-ui/theme.scss';

$menu-bg-color: #fff; // 一级菜单背景色
$sub-menu-bg-color: darken($menu-bg-color, 8%); // 二级以下菜单背景色
$menu-bg-color-hover: darken($menu-bg-color, 15%);
// 菜单 hover 背景颜色
$menu-text-color: #333; // 菜单前景色
$menu-text-color-actived: #409eff; // 菜单激活前景色
$left-window-bg-color: $menu-bg-color; // 左侧窗口背景色
$top-window-bg-color: #fff; // 顶部窗口背景色
$top-window-text-color: #999; // 顶部窗口前景色
